In [1]:
!pip install -U yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.11/dist-packages (0.2.52)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.11/dist-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.11/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.11/dist-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2025.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.11/dist-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.11/dist-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.11/dist-packages (from yfinance) (4.13.3)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.11/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (4.12.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.11/dist-packages (from html5lib>=1.1->yfinance) (1.17.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.3.0->yfinance) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.31->yfinance) (2025.1.31)

In [18]:
import yfinance as yf
import pandas as pd
import numpy as np


import pandas as pd

import pandas as pd

# Net Income (순이익) 추출 함수
def get_net_income_from_operatings(stock):

    financials = stock.quarterly_financials.T
    return financials.get("Net Income Continuous Operations", pd.Series(dtype="float64"))


# Operating Cash Flow (영업활동 현금흐름) 추출 함수
def get_operating_cashflow(stock):
    cashflow = stock.quarterly_cashflow.T
    return cashflow.get("Cash Flow From Continuing Operating Activities", pd.Series(dtype="float64"))

# Total Assets (자산 총계) 추출 함수
def get_total_asset(stock):
    quarterly_balancesheet = stock.quarterly_balancesheet.T
    return quarterly_balancesheet.get("Total Assets", pd.Series(dtype="float64"))

# Net Income (순이익) 추출 함수
def get_net_income(stock):
    financials = stock.quarterly_financials.T
    return financials.get("Net Income", pd.Series(dtype="float64"))

# Cash Dividends Paid (배당금 지급) 추출 함수
def get_cash_dividends_paid(stock):
    cashflow = stock.quarterly_cashflow.T
    return cashflow.get("Cash Dividends Paid", pd.Series(dtype="float64"))

# Repurchase of Capital Stock (자사주 매입) 추출 함수
def get_repurchase_of_stock(stock):
    cashflow = stock.quarterly_cashflow.T
    return cashflow.get("Repurchase Of Capital Stock", pd.Series(dtype="float64"))



# 모든 데이터를 종합하는 함수
def get_financial_data(ticker):
    stock = yf.Ticker(ticker)

    # 개별 함수 호출하여 데이터 추출
    net_income = get_net_income(stock)
    cash_dividends_paid = get_cash_dividends_paid(stock)
    repurchase_of_stock = get_repurchase_of_stock(stock)
    net_income_from_operatings = get_net_income_from_operatings(stock)
    cashflow_of_operating = get_operating_cashflow(stock)
    total_asset = get_total_asset(stock)

    # 데이터프레임 생성
    df = pd.DataFrame({
        'Net Income': net_income,
        'Cash Dividends Paid': cash_dividends_paid,
        'Repurchase of Capital Stock': repurchase_of_stock,
        'Net Income from Operating':net_income_from_operatings,
        'Cashflow of Operating':cashflow_of_operating,
        'Shareholder Return': cash_dividends_paid + repurchase_of_stock,
        '영업 활동으로 발생하는 현금 흐름 (Income/Operating) %': (net_income_from_operatings/cashflow_of_operating)*100,
        '자산 대비 수익 창출 능력 (Income/Assets) %': (net_income_from_operatings/total_asset)*100
    })

    return df

In [19]:
# 예시 종목: 애플 (AAPL)
ticker = "TSLA"
df = get_financial_data(ticker)

In [20]:
df['영업 활동으로 발생하는 현금 흐름 (Income/Operating) %']

2024-12-31 00:00:00     48.442044
2024-09-30 00:00:00      34.90008
2024-06-30 00:00:00     41.362126
2024-03-31 00:00:00    472.727273
2023-12-31 00:00:00    181.762014
2023-09-30 00:00:00           NaN
2023-06-30 00:00:00           NaN
Name: 영업 활동으로 발생하는 현금 흐름 (Income/Operating) %, dtype: object

In [21]:
df['자산 대비 수익 창출 능력 (Income/Assets) %']

2024-12-31 00:00:00    1.910379
2024-09-30 00:00:00    1.821413
2024-06-30 00:00:00    1.324092
2024-03-31 00:00:00     1.04737
2023-12-31 00:00:00    7.449962
2023-09-30 00:00:00         NaN
2023-06-30 00:00:00         NaN
Name: 자산 대비 수익 창출 능력 (Income/Assets) %, dtype: object

In [23]:
df/np.power(10,6)

,Net Income,Cash Dividends Paid,Repurchase of Capital Stock,Net Income from Operating,Cashflow of Operating,Shareholder Return,영업 활동으로 발생하는 현금 흐름 (Income/Operating) %,자산 대비 수익 창출 능력 (Income/Assets) %
2024-12-31 00:00:00,2356.0,NaN,NaN,2332.0,4814.0,NaN,0.000048,0.000002
2024-09-30 00:00:00,2167.0,NaN,NaN,2183.0,6255.0,NaN,0.000035,0.000002
2024-06-30 00:00:00,1478.0,NaN,NaN,1494.0,3612.0,NaN,0.000041,0.000001
2024-03-31 00:00:00,1129.0,NaN,NaN,1144.0,242.0,NaN,0.000473,0.000001
2023-12-31 00:00:00,7930.0,NaN,NaN,7943.0,4370.0,NaN,0.000182,0.000007
2023-09-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN